.bgImgCenter{
    background-image: url('./asian-food-background-various-cooking-ingredients-rustic-background-top-view-banner-concept-chinese-thai-66582124.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
  }